<ion-toolbar mode="ios">
  <ion-buttons mode="ios"  slot="start">
    <ion-icon class="icon back-arrow"[routerLink]="['/user-dashboard/home']" name="arrow-back-sharp"></ion-icon>
  </ion-buttons>
  <ion-title>Profile</ion-title>
</ion-toolbar>

<ion-content>
  <div class="container">
    <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="settings">
      <ion-segment-button value="personal">
        <ion-label>Personal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="security">
        <ion-label>Security</ion-label>
      </ion-segment-button>
      <ion-segment-button value="settings">
        <ion-label>Settings</ion-label>
      </ion-segment-button>
      <ion-segment-button value="features">
        <ion-label>About Zappy</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div class="personal">
    <ion-item>
      <ion-label class="property">Notification Alerts</ion-label>
      <span></span>
      <ion-toggle (ionChange)="getToggle($event)" [ngModel] = "notification" slot="end"></ion-toggle>
    </ion-item>
    <ion-item (click)="updateUserSettings('notification_preference',$event)">
      <ion-label class="property">Notification Alerts Preference</ion-label>
      <span></span>
      <ion-icon slot="end" name="create-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="updateUserSettings('low_wallet_trigger',$event)">
      <ion-label class="property">Low Wallet Trigger Amount</ion-label>
      <span></span>
      <ion-icon slot="end" name="create-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="updateUserSettings('automated_report',$event)">
      <ion-label class="property">Automated Report</ion-label>
      <span slot="end"></span>
      <ion-icon slot="end" name="create-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="updateUserSettings('commission_regime',$event)">
        <ion-label class="property">Commission Regime</ion-label>
        <span slot="end"></span>
        <ion-icon slot="end" name="create-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="updateUserSettings('reset_pin',$event)">
      <ion-label class="property">Reset Zappy PIN</ion-label>
      <span slot="end"></span>
      <ion-icon slot="end" name="create-outline"></ion-icon>
    </ion-item>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="1" pullMin="50" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
