<ion-header class="header-bg">
  <ion-toolbar mode="ios" color="none" class="text-white">
    <ion-buttons mode="ios">
      <ion-button (click)="goBack()" slot="start">
        <ion-icon ios="arrow-back-outline" md="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Beneficiary Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Background Overlay-->
  <div class="bg" (click)="closePinPad()"></div>

  <!--Bottom Sheet-->
  <div class="bottomSheet" (touchmove)="touchMove($event)" (touchend)="touchEnd()">
    <!--Short line at top of bottom sheet-->
    <div class="swipe-handler"></div>
    <!--Bottom sheet content-->
    <div class="content ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div style="margin-top: 40px; font-size: 18px; font-weight: bold; text-align: center;">Add Contact</div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 30px;">
          <ion-col size="9" style="padding: 20px;">
            <div style="background-color: #f5f5f5; height: 40px; padding: 5px; border-radius: 7px;">
              <ion-input placeholder="eg. 2348022222222" [(ngModel)]="addContactData.phone" name="phone" inputmode="numeric" style="font-size: 12px; text-align: center;"></ion-input>
            </div>
          </ion-col>
          <ion-col size="3"style="padding: 20px;">
            <div style="text-align: center; background-color: #f5f5f5; height: 100%; border-radius: 7px; padding-top: 10px;">
              <img src="../../assets/icon/profile-user.png"/>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" style="padding-left: 20px; padding-right: 20px;">
            <div style="background-color: #f5f5f5; height: 40px; padding: 5px; border-radius: 7px;">
              <ion-input placeholder="Fullname of contact" [(ngModel)]="addContactData.name" name="name" style="font-size: 12px; text-align: center;"></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
            <ion-button (click)="addContact()" shape="round" mode="ios" strong="true" size="default" color="primary" style="font-size: 14px;">Add</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


  <ion-fab *ngIf="showFab" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddBeneficiary()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-card (click)="expandItem(i)" *ngFor="let group of beneficiaryGroups; let i = index;">
    <ion-card-header>
      <ion-card-title style="font-size: 15px;">{{group.group_name}} <ion-icon name="add-circle-outline" (click)="openAddContact(group.id)" color="primary" style="font-size: 25px; float: right"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-expandable [expandHeight]="group.height" [expanded]="group.expanded">
        <div *ngFor="let item of group.group" style="margin-top: 10px; padding: 10px;">{{item.name}} ({{item.phone}})</div>
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
