<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon md="arrow-back" ios="arrow-back-outline" ></ion-icon>
      </ion-button>
      <ion-button></ion-button>
    </ion-buttons>
    <ion-title color="primary">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item lines="none">
      <ion-input placeholder="Old password" type="password"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input placeholder="New password" type="password"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input placeholder="Retype new password" type="password"></ion-input>
    </ion-item>
    <div class="ion-text-center">
      <ion-button mode="ios" (click)="gotoService()">
        Update password
      </ion-button>      
    </div>
  </div>
</ion-content>
