
ion-input {

  --padding-top: 0;
  --padding-bottom: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #808080; 
  --placeholder-color: #808080bd !important;
}
ion-item {
  color: #9ACD32;
  border-radius: 6px;
  --background: #ffffff;
  --min-height: 40px;
  width: 311px;
  margin: 10px 0px;

  ion-label {
    --font-size: 8px !important;
    line-height: 14px;
    --font-weight: 400 !important;;
    --color: #808080;
  }
}
.btn {
  width: 300px;
  min-height: 40px;
  --border-radius: 20px !important;
  margin-top: 20px !important;
  color: #ffffff;
  font-family: 'Poppins';
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px;
  background: linear-gradient(90deg, #9ACD32 0%, #056608 157.2%) !important;
}

.text-center {
  text-align: center;
}
.error {
  color: red;
  font-size:8px;
}
.required{
  color: red;
  font-size:12px;
  margin-top:-8px;
}

.container {
  padding: 100px 35px!important;
}

.label-icon {
  margin-left:-8px;
  color: #9ACD32;
}

.ion-label {
  margin-left:0px;
  font-size:12px;

}