<ion-content>

  <ion-content>
    <div class="brand">
      <img src="../../assets/imgs/white-logo.png" alt="zappy-logo">
    </div>
    <div class="signup">
      <h6 style="color: #f5deb3;">Enter OTP sent to 0834567890</h6>
      <ion-item lines="none">
        <ion-input type="tel" placeholder="OTP"></ion-input>
      </ion-item>
      <button ion-button mode="ios" (click)="login('login')">
        Continue
      </button>
      <p class="ion-text-white" (click)="signup()">
        No, this is not my number
      </p>
    </div>
  </ion-content>
  
</ion-content>
