<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios"  slot="start">
      <ion-icon class="icon" [routerLink]="['/password-reset-otp',this.email]" name="arrow-back-sharp"></ion-icon>
    </ion-buttons>
    <ion-title >Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="brand">
    <img src="../../assets/imgs/logo.png" alt="zappy-logo">
  </div>
  <div id="container" class="container">
    <div class="page-title">
      
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <ion-item>
        <!--
        <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;&nbsp;
        -->
        <ion-label position="floating">New Password<span class="required"><sup>*</sup></span></ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="submitted && resetPasswordFormCtrl.password.errors?.required">
        Password is required.
      </span>
      <span class="error ion-padding" *ngIf="submitted && resetPasswordFormCtrl.password.errors?.minlength">
        Min 6 chars long.
      </span>
      <ion-item>
      <!--
        <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;&nbsp;
      -->
        <ion-label position="floating">Confirm Password<span class="required"><sup>*</sup></span></ion-label>
        <ion-input formControlName="confirmpassword" type="password"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="submitted && resetPasswordFormCtrl.confirmpassword.errors?.required">
        Confirm Password is required.
      </span>
      <span class="error ion-padding" *ngIf="submitted && resetPasswordFormCtrl.confirmpassword.errors?.minlength">
        Min 6 chars long.
      </span>
      <span class="error ion-padding" *ngIf="submitted && resetPasswordFormCtrl.confirmpassword.errors?.passwordMismatch">
        Password Mismatch
      </span>
  
        <button class="btn btn-primary" type = "submit">
          Set Password
        </button>
    </form>
  </div> 
</ion-content>
