<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios"  slot="start">
      <ion-icon class="icon" [routerLink]="['/register']" name="arrow-back-sharp"></ion-icon>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="brand">
    <img src="../../assets/imgs/logo.png" alt="zappy-logo">
  </div>
  <div id = "welcome_note" style = "margin-left: 20px; font-size:14px;">
    <h2>Hi,</h2>
    <p>Let's proceed with your email address.</p>
    <p>We advise that you use an active email address</p>
  </div>
  <div class="signup">
    <ion-item class="ion-item">
      <ion-icon style="margin-left:0px;" name="call-outline"></ion-icon>&nbsp;&nbsp;
      <ion-input ion-input 
                 
                 pattern= "{{email_pattern}}"
                 type="email" 
                 [(ngModel)] = "validateEmailForm.email"  
                 placeholder="Email"
                 >
      </ion-input>
    </ion-item>
    
    <button ion-button mode="ios" (click)="verifyEmail()">
      Validate My Email.
    </button>

    
   </div>
   <div id = "privacy_policy" class="text-center" style="margin-top:-10px">
    <span  style = "color:grey; font-size:10px;">By signing up, you are agreeing to our</span><br>
    <a href="#" style= "text-decoration:none"><span style = "color:black; font-size:10px;"><strong>Terms of Service & Privacy Policy</strong></span></a>
  </div>
</ion-content>
