p,
h6,
h5,
div,
ion-grid,
ion-card,
ion-row,
ion-col {
  padding: 0;
  margin: 0;
  line-height: 0;
}

.main-container {
  padding: 10px;
}

/*Bottom Sheet CSS*/

ion-title,
ion-button {
  font-weight: bold;
}

.bottomSheet {
  position: fixed;
  width: 100%;
  //height: 50%;
  bottom: 0;
  border-radius: 15px 15px 0 0;
  z-index: 20;
  background-color: var(--ion-background-color);
  transition: 0.3s;
  transform: translate3d(0, 0, 0);

  .content {
    h1 {
      font-weight: bold;
    }
    p {
      color: gray;
      font-weight: bold;
    }
  }

  .swipe-handler::after {
    content: "";
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 5%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background: lightgray;
  }
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 10;
  transition: 0.3s;
}

/*Bottom Sheet CSS*/

.iconContainer {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 2px solid #9acd32;
  margin: 0px auto;
}

.networkCheck {
  float: right;
  margin-top: 30px;
}

.airtelUrl {
  background: url("../../../assets/icon/airtel_icon.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mtnUrl {
  background: url("../../../assets/icon/mtn_icon.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.gloUrl {
  background: url("../../../assets/icon/glo_icon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nineMobileUrl {
  background: url("../../../assets/icon/nine_mobile_icon.png");
  background-size: cover;
  background-repeat: no-repeat;
}
