.details {
  height: 60vh;
  padding-right: 0 !important;

  h2 {
   // width: 118px;
    height: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: rgba(42, 43, 42, 0.6);
    padding: 0 !important;
    margin: 0 !important;
  }
}
.first_name {
  text-transform: uppercase;
}


.avatar-main .caption {
  // width: 89px !important;
  height: 12px;
  font-weight: normal;
  font-size: 8px;
  line-height: 12px;
  color: rgba(0, 54, 121, 0.6);
  text-align: center;
}