<ion-header>
    <ion-toolbar color="none" mode="ios">
      <ion-buttons  (click)="goBack()">
      <ion-button >
        <ion-icon ios="arrow-back-outline" md="arrow-back"></ion-icon>
      </ion-button>
      </ion-buttons>
      <ion-title color="primary">Wallet</ion-title>
    </ion-toolbar>
</ion-header> 

<ion-content> 
  <div class="container">
    <h4 class="text-primary">
      You have no account with us <br>
      kindly click here to <br>
      <button (click)="signup()">Register</button>
    </h4>
  </div>
 
</ion-content>
 