<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button></ion-button>
    </ion-buttons>
    <ion-title >Payment Methods</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="signup-upper">
    <div class="d-flex p-2">
      <span>
        <img src="../../assets/icon/pay_with_card_icon.svg" alt="card">
      </span>
      <span>Pay with Card</span>
    </div>
    <div class="d-flex p-2">
      <span>
        <img src="../../assets/icon/pay_with_bank_transfer_icon.svg" alt="card">
      </span>
      <span>Pay with Bank Transfer</span>
    </div>
    <div class="d-flex p-2">
      <span>
        <img src="../../assets/icon/gtb_737_icon.svg" alt="gtbank">
      </span>
      <span>Pay with GTBank 737</span>
    </div>
  </div>
</ion-content>
