<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button></ion-button>
    </ion-buttons>
    <ion-title >Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="privacy-policy">
    <h4>ADIKPOPAY</h4>
    <h4>END USER LICENSE AGREEMENT</h4>
    <small class="text-danger">
      Please read carefully the terms and conditions of this End User License and Agreement (EULA) before downloading,
      installing or using AdikpoPay website/app provided by Rulsoft Ltd("Rulsoft"). By signing up on the AdikpoPay website/app
      you are agreeing to be bound by the following terms and conditions.
    </small>
    <div class="py-4">
      <p>
        This <strong>EULA</strong>  is a legal agreement between you and Rulsoft and govern your use of the AdikpoPay website/app on your device. 
        The content of the EULA is binding and is not subject to any varying terms or condition, unless as provided by RULSOFT LTD("RULSOFT")bundleRenderer.renderToStreamsubsequently upon due notice to the End User.
      </p>
      <strong>Definitions</strong>
      <p><strong>"App"</strong> the AdikpoPay application on the Google Play Store or Apple App Store</p>
    </div>
  </div>
</ion-content>
