<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios">
      <ion-button>
      </ion-button>
      <ion-button></ion-button>
    </ion-buttons>
    <ion-title >Next of Kin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-upper">
    <form action="#">
      <input type="text" name="name" id="name" placeholder="Name of next of kin" /> <br>
      <input type="text" name="relationship" id="relationship" placeholder="Relationship" /> <br>
      <input type="email" name="email" id="email" placeholder="Email Address" /> <br>
      <input type="text" name="phone_number" id="phone_number" placeholder="Phone number" /> <br>
      <input type="password" name="password" id="password" placeholder="Enter your password" /> <br>
      <button class="btn btn-primary text-white">
        Update
      </button>
    </form>
  </div>
</ion-content>
