
<ion-header>
  <ion-toolbar color="none" class="text-white" mode="ios">
    <ion-buttons  >
      <ion-button (click)="goBack()">
        <ion-icon ios="arrow-back-outline" md="arrow-back"></ion-icon>
      </ion-button>
      <ion-button></ion-button>
    </ion-buttons>
    <ion-title >Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container container-bg">
    <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="wallet">
      <ion-segment-button value="wallet">
        <ion-label>My balance</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cards">
        <ion-label>My cards</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-card color="primary" mode="ios">  
      <ion-card-content >
         <p class="text">Available Balance</p>
        <div class="amount">&#x20A6; {{wallet_amount}}</div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="1" pullMin="50" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="wrapper">
    <div class="inner">      
      <h4>Add money</h4>
      <ion-item lines="none">
        <ion-input placeholder="Amount" inputmode="numeric" [(ngModel)] = "fund_amount" required></ion-input>
      </ion-item>
  
      <!--ion-item lines="none">
        <ion-input placeholder="Password" type="pasword" required></ion-input>
      </ion-item-->  
  
      <div class="ion-text-center">      
        <!--ion-button color="primary" (click)="addMoney()" mode='ios'>
          Fund my wallet
        </ion-button-->
        <!--angular4-paystack
          [email]="'mailexample@mail.com'"
          [amount]="fund_amount"
          [ref]="reference"
          [channels]="['bank']"
          [class]="'btn btn-primary'"
          (close)="paymentCancel()"
          (callback)="paymentDone($event)"
        >
          Fund my wallet
        </angular4-paystack-->
        <ion-button
          angular4-paystack
          [key]="pKey"
          [email]="'mailexample@mail.com'"
          [amount]="fund_amount * 100"
          [ref]="reference"
          [color]="'primary'"
          (paymentInit)="paymentInit()"
          (close)="paymentCancel()"
          (callback)="paymentDone($event)"
        >
          Fund my wallet
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>