<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios">
      <ion-button>
      </ion-button>
      <ion-button></ion-button>
    </ion-buttons>
    <ion-title >Referral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="referral">
    <ion-card>  
      <ion-card-content>
        <p class="text-center text-white">
          Get up to N50 on your next transaction by inviting your friends to use AdikpoPay using tyhe link below.
        </p>
      </ion-card-content>
    </ion-card>
    <div class="d-flex ref-link">
      <span class="text-primary">https://adikpopay.com.ng/?ref=2394JE</span>
      <span class="text-primary">
        <img src="../../assets/icon/copy_icon.svg" alt="">
      </span>
    </div>
    <button class="btn btn-primary text-white">
      Share
    </button>
  </div>
</ion-content>
