<ion-toolbar mode="ios">
  <ion-buttons mode="ios"  slot="start">
    <ion-icon class="icon back-arrow"[routerLink]="['/user-dashboard']" name="arrow-back-sharp"></ion-icon>
  </ion-buttons>
  <ion-title>Referral</ion-title>
</ion-toolbar>


<ion-content>
    <ion-card>  
      <ion-card-content>
        <p class="text-center text-white">
          Get up to  &#x20a6;500 in your referral wallet on a first transaction of your referral by inviting your friends to use Zappy using your referral link below.
        </p>
      </ion-card-content>
    </ion-card>
    <div class="referral">
      <ion-item detail (click)="shareReferralLink()">
        <ion-icon size="medium" name="share-social"></ion-icon>
        <ion-label class="ion-label">
         Share Invitation Link
        </ion-label>
      </ion-item> 
    <!--
      <ion-item detail>
        <ion-icon size="medium" name="phone-portrait-outline"></ion-icon>
        <ion-label class="ion-label">
          Send to mobile number
        </ion-label>
      </ion-item>
    -->
      <ion-item detail (click)="copyReferralLink()">
        <ion-icon size="medium" name="copy-outline"></ion-icon>
        <ion-label class="ion-label">
          Copy Invitation Link
        </ion-label>
      </ion-item>
      <!--
      <ion-item detail href="">
        <ion-icon size="medium" name="people"></ion-icon>
        <ion-label class="ion-label">
          Send to phone contact
        </ion-label>
      </ion-item>
    -->
    </div>
</ion-content>
