<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios">
      <ion-button>
      </ion-button>
      <ion-button></ion-button>
    </ion-buttons>
    <ion-title >Successfull Transaction</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <h6 class="text-center text-primary">
    You've successfully <br> added your card
  </h6>
  <div class="signup-upper">
    <div class="circle-lg">
      <img src="../../assets/icon/success.png" alt="success">
    </div>
  </div>
</ion-content>
