  <ion-toolbar mode="ios">
    <ion-buttons mode="ios"  slot="start">
      <ion-icon class="icon back-arrow"[routerLink]="['/walk-through']" name="arrow-back-sharp"></ion-icon>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>

<ion-content>
  <div class="container">
    <ion-segment (ionChange)="segmentChanged($event)" value="personal" mode="ios" value="personal">
      <ion-segment-button value="personal">
        <ion-label>Personal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="security">
        <ion-label>Security</ion-label>
      </ion-segment-button>
      <ion-segment-button value="features">
        <ion-label>Features</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="avatar-main text-center">
    <div class="text-primary caption" style="padding-bottom:25px;">
      <label>
      <ion-icon class= "avatar" size = "" name="person-circle"></ion-icon>
        <input type="file" name="photo" hidden>
      </label>
    </div>
  </div>
  <div class="personal">
    <ion-item>
      <ion-label class="property">Nickname</ion-label>
      <span>{{userData.nickname}}</span>
      <ion-icon slot="end" (click)="updateUserData('nickname')" name="create-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label class="property">First name</ion-label>
      <span>{{userData.first_name}}</span>
      <!--
      <ion-icon slot="end" (click)="updateUserData('first_name')" name="create-outline"></ion-icon>
      -->
    </ion-item>
    <ion-item>
      <ion-label class="property">Last name</ion-label>
      <span slot="end">{{userData.last_name}}</span>
      <!--
      <ion-icon slot="end"  (click)="updateUserData('last_name')" name="create-outline"></ion-icon>
      -->
    </ion-item>
    <ion-item>
        <ion-label class="property">Date of Birth</ion-label>
        <!--<ion-note slot="end">{{userData.dob}}</ion-note>-->
        <ion-datetime value="{{userData.dob}}" displayFormat="DD MMM, YYYY" display-timezone="Africa/Lagos"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label class="property">Mobile</ion-label>
        <span slot="end">{{userData.mobile_no}}</span>
        <!--
            <ion-icon slot="end" (click)="updateUserData('mobile_no')" name="create-outline"></ion-icon>
        -->
    </ion-item>
    <ion-item>
        <ion-label class="property">Email Address</ion-label>
        <span slot="end">{{userData.email}}</span>
  <!--
        <ion-icon slot="end" (click)="updateUserData('email')" name="create-outline"></ion-icon>
  -->
    </ion-item>
    <ion-item>
        <ion-label class="property">Address</ion-label>
        <span slot="end">{{userData.address}}</span>
        <ion-icon slot="end" (click)="updateUserData('address')" name="create-outline"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label class="property">Security Question (SQ)</ion-label>
        <span slot="end">{{userData.security_question}}</span>
        <ion-icon slot="end" (click)="updateUserData('security_question')" name="create-outline"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label class="property">Answer to SQ</ion-label>
        <span slot="end">{{userData.sq_answer}}</span>
        <ion-icon slot="end" (click)="updateUserData('sq_answer')" name="create-outline"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label class="property">Zappy Level</ion-label>
        <span [ngSwitch] = "userData.role_id" slot="end">
            <span *ngSwitchCase = "1">Casual User</span>
            <span *ngSwitchCase = "2">Paypoint Agent</span>
            <span *ngSwitchCase = "3">Custom Seller</span>
            <span *ngSwitchCase = "4">API Seller</span>
            <span *ngSwitchCase = "5">Super Admin</span>
        </span>
        <ion-icon (click)="userUpgrade()"slot="end" name="create-outline"></ion-icon>
    </ion-item>
  </div>
  



 
</ion-content>
