<ion-toolbar mode="ios">
  <ion-buttons mode="ios"  slot="start">
    <ion-icon class="icon back-arrow"[routerLink]="['/user-dashboard/home']" name="arrow-back-sharp"></ion-icon>
  </ion-buttons>
  <ion-title>Profile</ion-title>
</ion-toolbar>

<ion-content>
  <div class="container">
    <ion-segment (ionChange)="segmentChanged($event)" value="features" mode="ios">
      <ion-segment-button value="personal">
        <ion-label>Personal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="security">
        <ion-label>Security</ion-label>
      </ion-segment-button>
      <ion-segment-button value="settings">
        <ion-label>Settings</ion-label>
      </ion-segment-button>
      <ion-segment-button value="features">
        <ion-label>About Zappy</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="avatar-main text-center">
    <img src="../../assets//imgs/logo.png" alt="">
    <div class="text-primary caption" (click)="navigatePage('change-photo')">
      <label>
        version 1.0.0
      </label>
    </div>
  </div>
  <div class="personal">
    <ion-item href="https://play.google.com/store/apps/details?id=com.transsnet.zappy&hl=en&gl=US">
      <ion-label class="property">To playstore</ion-label>
      <span></span>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="navigatePage('terms-and-conditions')">
      <ion-label class="property">Terms & Conditions</ion-label>
      <span></span>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="navigatePage('privacy-policy')">
      <ion-label class="property">Privacy & Policy</ion-label>
      <span slot="end"></span>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item href="mailto:no-reply.zappy@gmail.com">
        <ion-label class="property">Support</ion-label>
        <span slot="end"></span>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </div>
  
  
</ion-content>
