#page-bg {
  background: linear-gradient(90deg, #ffff 0%, #ffff 157.2%) !important;
  padding: 20px;
}

ion-content {
  --ion-background-color: linear-gradient(90deg, #fff 0%, #fff 157.2%) !important; 
  
}

ion-item {
  color: #808080;
  border-radius: 6px;
  --min-height: 40px;
  margin: 10px !important;
  --background: #ffffff;
  width: 281px;
}
#password {
  margin-top:-45px !important;
}


.signup {
  height: 70vh;
}


span {
  color: #3b3b3b !important;
  font-size: 12px !important;
  margin: 10px;
}
h2 {
  color: #1e1f1d;
  font-weight: 500;
}
.page-title {
  //width: 375px;
 // width: auto;
 // margin: 0 auto;
  small, h2 {
    display: block;
    text-align: left !important;
    color: #1e1f1d;
  }

  text-align: left !important;
  margin-left: -65px !important;
  padding-bottom: 70px !important;
}

button {
  width: 240px !important;
  border-radius: 20px !important;
  min-height: 40px !important;
  margin-top: 20px !important;
}

.brand {
  //padding-top: 10px;
   margin-top:5px;
   padding-bottom: 30px;
}

.container {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 70vh;
  //width: 375px;
  width: auto;
  //margin-top: 30vh;
 // margin-right:150px;
  //margin: 0 auto;
}
.btn {
  color:white;
}
.back-arrow {
  padding-top:20px;
  text-align: left !important;
  margin-left: -15px !important;
}

ion-label {
  font-size:8px;
}

ion-icon {
  font-size: 14px;
}

