<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios">
      <ion-button>
      </ion-button>
    </ion-buttons>
    <ion-title >Confirm your payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup text-center">
    <h6 class="text-primary text-center">Enter PIN</h6>
    <div>
      <ion-input type="password"></ion-input>
      <ion-button routerLink="/user-dashboard/transactions/success" color="primary" mode="ios">Confirm Payment</ion-button>
    </div>
  </div>
</ion-content>
