
// ion-header  {
//   color: #ffffff;
//   font-weight: 400;
// }


.signup {
  height: 50vh;
  margin: 10px 30px;
}

.brand {
  img {
    width: 100% !important;
    padding: 30px;
  }
} 

ion-title {
  color: #ffffff !important;
  //text-align: center;
}
ion-toolbar {
  ion-icon {
    color: #ffffff !important;
  }
}

ion-button {
  width: 100%;
}

ion-item {
  color: #003679; 
  --background: rgba(0, 54, 121, 0.1) !important;
  border-radius: 6px;
  --min-height: 40px;
  margin: 10px !important;
}
ion-input, ion-select{
  --placeholder-opacity: .9 !important;
  --padding-top: 0;
  --padding-bottom: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  --placeholder-color: rgba(0, 54, 121, 0.6) !important;
  --select-icon: 100px !important;
}

ion-button {
  width: 241px;
  min-height: 40px;
  --border-radius: 6px !important;
  margin-top: 10px !important;
}

.bg-white {
  background: #ffffff !important;
}

ion-toolbar {
  ion-buttons {
    width: 100% !important;
  }
  ion-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.05em !important;

  }
}
ion-label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px !important;
  line-height: 18px;
  color: rgba(0, 54, 121, 0.6) !important;
  width: 299px !important;
}
