@import 'https://fonts.google.com/specimen/Nunito?query=nuni';

#page-bg {
  background: linear-gradient(90deg, #f2fae2  0%, #ffff  157.2%) !important;
  padding: 20px;
}

ion-content {
  --ion-background-color: linear-gradient(90deg, #ffff  0%, #ffff  157.2%) !important; 
 /*
  --background: url('/assets/imgs/backgrounds/background3_zappy.png') no-repeat 100% 100%;
*/
}


.signup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  top: 70%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.btn {
  padding: 15px;
  margin: 4px;
  border-radius: 20px;
  height: 40px;
  width: 240px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.btn-secondary {
  background: linear-gradient(120deg, #9ACD32 0%, #056608 157.2%);
  
}
/*
.btn-primary {
  background: linear-gradient(90deg, #9ACD32 0%, #056608 157.2%);
}
*/
/*
#signupbtn {
   border-radius: 20px;
   border-color: #9ACD32;
   color: #9ACD32;
   background-color: transparent;
}
*/
.btn-transparent {
  border: 1px solid #056608;
  border-radius: 20px;
  background-color: white;
  color: #056608 ;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
}

.text-primary {
  color: #ffffff;
}

.text-white {
  color: #ffffff;
}
.text-color {
  color: #056608;
}
.text-center {
  text-align: center;
}

.brand {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  transform: translateY(-10%);
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Nunito';

  img {
    width: 50%;
  }
}
// .brand .caption {
//   position: absolute;
//   left: 45.13%;
//   right: 32.53%;
//   bottom: -35%;
//   font-style: italic;
//   font-size: 10px;
//   line-height: 12px;
// }

.form {
  background: #ffffff;
  padding: 20px;
}

.signup-form {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
/*
.icon {
  margin-left:18px;
  margin-top:30px;
  font-size:20px;
  color:#9ACD32;
}
*/
.back-arrow {
  padding-top:35px;
  text-align: left !important;
  margin-left: 10px !important;
  color: #424242;
}