<ion-content>
  <div class="container">
    <div class="container-fixed">      
      <ion-buttons class="ion-align-items-center" mode='ios'>
        <ion-button slot="start" class="tool-text" fill="clear" (click)="gotoService('fund-transfer')">          
          <div class="avatar">
            <img src="../../assets/imgs/passport2.png" alt="avatar">
            <span>Hi, {{userData.nickname && userData.nickname !== 'null'?userData.nickname:userData.first_name}}</span>
          </div>
        </ion-button>
        <ion-button slot="end" class="tool-text" fill="clear" (click)="gotoService('add-money')">          
          Fund
          <img src="../../assets/icon/add_money_icon.svg" alt="add-money" class="ml-1">
        </ion-button>
      </ion-buttons>
      <ion-row>
        <ion-card color="primary" mode="ios">  
          <ion-card-content >
            <p id="text">Available Balance</p> 
            <div class="amount"> &#x20A6; {{userData.wallet_amount}}</div>
           
            <ion-fab vertical="edge" horizontal="start" edge slot="fixed">
              <ion-fab-button class="ion-fab-button">
                <ion-icon name="wallet" class="wallet"></ion-icon>
              </ion-fab-button>
              <ion-fab-list class="list" side="end">
                <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon><ion-label>&#x20A6; {{userData.points}}</ion-label></ion-fab-button>
                 <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon><ion-label>&#x20A6; {{userData.points}}</ion-label></ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-card-content>
        </ion-card>
        <!--
        <ion-card color="primary" mode="ios">  
          <ion-card-content >
            <p class="text">Available Points</p> 
            <div class="amount">{{userData.points}}</div>
          </ion-card-content>
        </ion-card>
      -->
      </ion-row>
      <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="1" pullMin="50" pullMax="200">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    </div>
  </div>
  <div class="container container-bg">
    <ion-buttons class="ion-align-items-center " mode="ios">
      <ion-button slot="start" class="tool-text" fill="clear" (click)="gotoService('fund-transfer')">          
        <h6 slot="center">Services</h6>
      </ion-button>
      <ion-button slot="end">          
      </ion-button>
    </ion-buttons>
    <h6 slot="center" id="service">Services</h6>
    <ion-grid>
      <ion-row class="chip" style="padding-right:-60px;">
        <ion-col>
          <div>
            <!--
          <ion-chip color="secondary" (click)="gotoService('data-bundle')"></ion-chip>
          -->
          <ion-chip (click)="gotoService('mobile-airtime')" color="secondary">
          
            <ion-icon name="cash" color="primary"></ion-icon>
          <!--
              <img class="img" src="../../assets/imgs/airtime-and-data.jpg" alt="Airtime & Mobile Data">
          -->
          </ion-chip><br>
          <ion-label color="dark" style="padding-left:0px;">Airtime & Data</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
          <ion-chip color="secondary" (click)="gotoService('beneficiary-group')">
              <ion-icon name="wallet" color="primary"></ion-icon>
          </ion-chip><br>
          <ion-label color="dark" style="padding-left:0px;">Beneficiary Group</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-chip color="secondary" (click)="gotoService('data-bundle')">
              <ion-icon name="share-social" color="primary"></ion-icon>
            <!--
            <img class="img" src="../../assets/imgs/airtime-and-data.jpg" alt="Airtime & Mobile Data">
            -->
          </ion-chip><br>
          <ion-label color="dark" style="padding-left:0px;">Share Data</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="chip">
        <ion-col>
          <div>
          <ion-chip (click)="gotoService('electricity')" color="secondary">
              <ion-icon name="logo-electron" color="primary"></ion-icon>
          </ion-chip><br>
          <ion-label color="dark" style="padding-left:0px;">Electricity</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
          <ion-chip color="secondary" (click)="gotoService('cable-tv')">
              <ion-icon name="globe" color="primary"></ion-icon>
          </ion-chip><br>
          <ion-label color="dark" style="padding-left:12px;">Cable TV</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-chip color="secondary" (click)="gotoService('data-bundle')">
              <ion-icon name="archive" color="primary"></ion-icon>
          </ion-chip><br>
          <ion-label color="dark" style="padding-left:0px;">Load Voucher</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="chip">
        <ion-col>
          <div>
          <ion-chip (click)="gotoService('mobile-airtime')" color="secondary">
              <ion-icon name="document-text" color="primary"></ion-icon>
          </ion-chip><br>
          <ion-label color="dark" style="padding-left:0px;">Bulk SMS</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
          <ion-chip color="secondary" (click)="gotoService('data-bundle')">
              <ion-icon name="recording" color="primary"></ion-icon>
          </ion-chip><br>
          <ion-label color="dark" style="margin-left:-10px;">Bulk Voice SMS</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-chip color="secondary">
              <ion-icon name="person-add" color="primary"></ion-icon>
          </ion-chip><br>
          <ion-label color="dark" style="margin-left:-1px;">Beneficiary</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row>
        <div class="box-md bg-primary">
          <span>MTN 1GB <br>
          for 30days <br>
          N475</span> <br>
          <button ion-button (click)="gotoService('data-bundle')">Top up</button>
        </div>
        <div class="box-md bg-purple">
          <span>MTN 2GB <br>
            for 30days <br>
            N950</span> <br>
            <button ion-button (click)="gotoService('data-bundle')">Top up</button>
        </div>
      </ion-row>
      <ion-row>
        <div class="box-md bg-secondary">
          <span>MTN 5GB <br>
          for 30days 
          N2375</span> <br>
          <button ion-button (click)="gotoService('data-bundle')">Top up</button>
        </div>
        <div class="box-md bg-light">
         <span>Up to 5% off <br>
          on mobile 
          recharge</span> <br>
          <button ion-button (click)="gotoService('mobile-airtime')">Recharge</button>
        </div>
      </ion-row>
    </ion-grid>
    <div class="slides" id="slides">
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
         <img src="../../assets/imgs/Banner1.jpg" alt="banner1">
        </ion-slide>
        <ion-slide>
          <img src="../../assets/imgs/Banner2.jpg" alt="banner2">
        </ion-slide>
        <ion-slide>
          <img src="../../assets/imgs/Banner3.jpg" alt="banner3">
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
