ion-card {
  text-align: center;
  margin: 10px auto auto 0px !important;
//  width: 299px !important;
}
h6 {
   width: 72px !important;
}
ion-buttons {
  padding: 10px 20px !important;
  /*
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 40px;
  */
  justify-content: center;
  //margin: 0px auto 0px auto;
  //width: 299px;
   margin-top:20px;
  ion-button {
    margin: 0 !important;
    min-height: 40px;
    --padding-end: 0px !important;
    --padding-start: 0px !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }
}
.box-md {
  margin: 10px !important;
}

.container{
  padding: 20px 30px 0px 30px !important;
  margin: 0 auto;
  position: relative;

}
.container-bg {
  margin-top: 155px;
  z-index: 1;
  background: lighten($color: #003679, $amount: 75);
    ion-buttons {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}


ion-grid {
  margin: 0px !important;
  padding: 0px !important;

}
.title {
   padding: 0px !important;
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  
  .container {
    padding: 20px 0px 0px 0px !important;
    
    .box-sm, .box-md {
    //  margin: 0px !important;
    padding-right: 10px;
    }

  }
}

ion-row {
  color: #9ACD32 !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box-sm {
 width: 50% !important;
 // margin: 5px  !important;
 //padding-right:10px;
}
.products {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.slides {
  margin: 20px 0px !important;
}

.container-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
  width: 100%;
}