@import 'https://fonts.google.com/specimen/Nunito?query=nuni';

ion-header  {
  color: #ffffff;
  font-weight: 400;
}


.signup {
  height: 50vh;
  margin: 10px 30px;


  
  // form {
  //   border-top-right-radius: 30px;
  //   border-top-left-radius: 30px;
  //   background-color: #ffffff;
  //   width: 100%;
  //   padding: 50px 20px;

  //   input {
  //     padding: 10px;
  //     margin: 5px 0;
  //     width: 90%;
  //     border-radius: 7px;
  //     border: none;
  //     background-color: #e4e7e9;

  //     &::placeholder {
  //       color: #38569A;
  //       padding-left: 10px;
  //     }

  //     &:focus {
  //       outline: solid #38569A 1px;
  //     }
  //   }
  //   select {
  //     width: 90%;
  //     border-radius: 7px;
  //     margin: 5px 0;
  //     padding: 10px;
  //     background-color: #e4e7e9;
  //     border: none;

  //     &::placeholder {
  //       color: #38569A;
  //     }
  //   }

  //   button {
  //     margin-top: 20px;
  //   }
  // }
}

.brand {
  // margin-top: 40px;
  // margin-bottom: 40px;
  img {
    width: 100% !important;
    padding: 30px;
  }
} 

ion-title {
  color: #ffffff !important;
  //text-align: center;
}
ion-toolbar {
  ion-icon {
    color: #ffffff !important;
  }
}

ion-button {
  width: 100%;
}

ion-item {
  color: #003679;
  --background: rgba(0, 54, 121, 0.1) !important;
  border-radius: 6px;
  --min-height: 40px;
  margin: 10px !important;
}
ion-input, ion-select {
  --placeholder-opacity: .9 !important;
  --padding-top: 0;
  --padding-bottom: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  --placeholder-color: rgba(0, 54, 121, 0.6) !important;
}

ion-button {
  width: 241px;
  min-height: 40px;
  --border-radius: 6px !important;
  margin-top: 10px !important;
}
ion-toolbar {
  ion-buttons {
    width: 100% !important;
  }
  ion-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.05em !important;

  }
}
.bg-white {
  background: #ffffff !important;
}
ion-label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px !important;
  line-height: 18px;
  color: rgba(0, 54, 121, 0.6) !important;
}