<ion-header class="header-bg">
  <ion-toolbar mode="ios" color="none" class="text-white">
    <ion-buttons mode="ios">
      <ion-button (click)="goBack()" slot="start">
        <ion-icon ios="arrow-back-outline" md="arrow-back"></ion-icon>
      </ion-button>
      <ion-button slot="end">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Cable TV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="brand">
      <img src="../../assets/imgs/logo.png" alt="adikpopay-logo" />
    </div>
    <div>
      <ion-item lines="none">
        <ion-label>Select Category</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" required>
          <ion-select-option value="dstv">Dstv</ion-select-option>
          <ion-select-option value="gotv">Gotv</ion-select-option>
          <ion-select-option value="start times">Start Times</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-input placeholder="Product" type="text" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Select Bouquet</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" required>
          <ion-select-option value="dstv">Dstv</ion-select-option>
          <ion-select-option value="gotv">Gotv</ion-select-option>
          <ion-select-option value="start times">Start Times</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item lines="none">
        <ion-input placeholder="Amount" type="text" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input placeholder="Smart Card number" size="number" type="text" required></ion-input>
      </ion-item> 
    </div>
    <div class="ion-text-center">
      <ion-button color="primary" (click)="subscribeToService()" mode="ios">
        Continue
      </ion-button>
    </div>
  </div>
</ion-content>
