
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-icon size = "small" name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="wallet">
            <ion-icon size = "small" name="wallet"></ion-icon> 
            <ion-label>Wallet</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="transactions">
            <ion-icon size = "small" name="sync"></ion-icon>
            <!-- <img src="../../assets/icon/transaction_icon.svg" alt=""> -->
            <ion-label>Transactions</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="profile">
            <ion-icon name="person"></ion-icon>
            <!-- <img src="../../assets/icon/profile_icon.svg" alt=""> -->
            <ion-label>Profile</ion-label>
          </ion-tab-button>
          <ion-tab-button  (click)="openMenu()">
            <ion-icon size = "small" name="log-out"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
  